.placeholder-box {
  height: 200px;
  background: #fafafa;
  border: 1px dashed #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
}

.placeholder-section {
  margin-bottom: 30px;
}
